body {
    padding: 20px;
}

th, td {
    border: 2px solid rgba(85, 71, 71, 0.88);
    padding: 4px;
    text-align: center;
}

th {
    background-color: #96e8f8;
}

.subdivision-table th, .subdivision-table td {
    width: 100%; /* Позволяет вложенной таблице иметь свою ширину */
}

table {
    table-layout: fixed; /* Фиксированная ширина таблицы */
    width: 100%; /* Ширина таблицы будет 100% */
}

.logo_image {
    border-radius: 10%;
    height: 40px; /* Подберите высоту в зависимости от ваших нужд */
    margin-right: 20px; /* Отступ между логотипом и текстом */
}

summary {
    padding: 10px;
}

summary:hover {
    background-color: #aaeccb;
}

img {
    max-width: 80px;
    margin-right: 10px;
    border-radius: 20%;
    transition: transform 0.2s ease; /* Плавный переход для масштабирования */
}

.nav-link {
    display: flex;
    align-items: center;
}

.photo-fio {
    display: flex;
    align-items: center; /* Центрирует текст и изображение по вертикали */
}

.photo-fio span {
    margin-left: 20px; /* Отступ между изображением и текстом */
}

.photo-fio img:hover {
    transform: scale(2); /* Увеличение изображения в 4 раза */
}

.header-search {
    display: flex;
    justify-content: space-between; /* Отступ между заголовком и формой */
}

.search-input {
    width: 420px; /* Ширина поля поиска */
}

.info {
    font-size: 32px;
}

.navbar-custom {
    background-color: #6fa881;
}

.logo_image {
    margin-right: 10px; /* Отступ между логотипом и текстом */
}

