body {
    padding: 20px;
}

th, td {
    border: 2px solid rgba(85, 71, 71, 0.88);
    padding: 4px;
    text-align: center;
}

th {
    background-color: #96e8f8;
}

.subdivision-table th, .subdivision-table td {
    width: 100%; /* Позволяет вложенной таблице иметь свою ширину */
}

table {
    table-layout: fixed; /* Фиксированная ширина таблицы */
    width: 100%; /* Ширина таблицы будет 100% */
}

.logo_image {
    border-radius: 10%;
    height: 40px; /* Подберите высоту в зависимости от ваших нужд */
    margin-right: 20px; /* Отступ между логотипом и текстом */
}

summary {
    padding: 10px;
}

summary:hover {
    background-color: #aaeccb;
}

img {
    max-width: 80px;
    margin-right: 10px;
    border-radius: 20%;
    transition: transform 0.2s ease; /* Плавный переход для масштабирования */
}

.nav-link {
    display: flex;
    align-items: center;
}

.photo-fio {
    display: flex;
    align-items: center; /* Центрирует текст и изображение по вертикали */
}

.photo-fio span {
    margin-left: 20px; /* Отступ между изображением и текстом */
}

.photo-fio img:hover {
    transform: scale(2); /* Увеличение изображения в 4 раза */
}

.header-search {
    display: flex;
    justify-content: space-between; /* Отступ между заголовком и формой */
}

.search-input {
    width: 420px; /* Ширина поля поиска */
}

.info {
    font-size: 32px;
}

.navbar-custom {
    background-color: #6fa881;
}

.logo_image {
    margin-right: 10px; /* Отступ между логотипом и текстом */
}

.user-info {
    border: 2px solid #6fa881; /* Цвет рамки */
    border-radius: 10px; /* Скругление углов */
    padding: 20px; /* Внутренние отступы */
    margin: 20px auto; /* Отступы сверху и снизу, центрирование по горизонтали */
    max-width: 1000px; /* Максимальная ширина блока */
    background-color: #f9f9f9; /* Цвет фона блока */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта поднятого блока */
}

.user-info img {
    margin-bottom: 20px; /* Отступ снизу */
    max-width: 150px; /* Максимальная ширина изображения */
}

.user-info p {
    font-size: 16px; /* Размер шрифта для параграфов */
    margin: 8px 0; /* Отступы сверху и снизу для параграфов */
}

.user-details {
    margin-left: 20px; /* Отступ между изображением и текстом */
}

.photo-fio-edit {
    display: flex;
    align-items: center; /* Центрирует текст и изображение по вертикали */
}

.photo-fio-edit span {
    margin-left: 20px; /* Отступ между изображением и текстом */
}

strong {
    color: #000000; /* Оранжевый цвет текста */
    font-size: 18px;
}

.box_content {
    width: fit-content;
    min-width: 150px;
    height: fit-content;
    padding: 10px;
    background-color: #c1e6f9;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.2);
}

.news-item {
    /*background-color:  rgba(192, 204, 190, 0.84);*/
    background-color: #c1e6f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.content-details {
    display: flex;
    justify-content: space-between;
}

.details {
    display: flex;
    justify-content: space-between;
}

.fio-text {
    text-align: left; /* Выровнять текст ФИО по левому краю */
}