{% extends 'base.html' %}

{% block title %}Профсоюз{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>Профсоюз {{ config.trade_union_name }}</h1>
            <h5>{{ config.trade_union_description|safe }}</h5>

            <h1>Профсоюзный комитет</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="trade_union_fio">ФИО</th>
                    <th>Должность</th>
                    <th>Почта</th>
                    <th>Телефон</th>
                    <th>Адрес рабочего места</th>
                </tr>
                </thead>
                <tbody>
                {% for position in trade_union_positions %}
                    <tr>
                        <td colspan="5">
                            <details>
                                <summary>
                                    {{ position.custom_user.fio }} - {{ position.position.name }}
                                </summary>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="photo-fio">
                                                {% if position.custom_user.photo %}
                                                    <img src="{{ position.custom_user.photo.url }}" alt="Фото {{ position.custom_user.fio }}" width="100">
                                                {% else %}
                                                    <img src="{{ position.custom_user.get_default_photo_url }}" alt="Фото отсутствует" width="100">
                                                {% endif %}
                                                {{ position.custom_user.fio }}
                                            </div>
                                        </td>
                                        <td>{{ position.position.name }}</td>
                                        <td>{{ position.custom_user.email }}</td>
                                        <td>
                                            {% if position.custom_user.phone_mobile %}
                                                Мобильный: {{ position.custom_user.phone_mobile }}
                                            {% endif %}
                                            {% if position.custom_user.phone_working %}
                                                {% if position.custom_user.phone_mobile %}
                                                    <br>
                                                {% endif %}
                                                Рабочий: {{ position.custom_user.phone_working }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ position.custom_user.address.name }}
                                            {% if position.custom_user.office.name %}
                                                {% if position.custom_user.office.name %}<br>
                                                    кабинет {{ position.custom_user.office.name }}{% endif %}
                                            {% endif %}
                                        </td>


                                    </tr>
                                </table>
                            </details>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if trade_union_events.object_list.exists %}
                <form method="get" action="{% url 'trade_union' %}" class="d-flex align-items-center">
                    <h1>Профсоюзные мероприятия</h1>
                    <input type="text" class="form-control mr-1 search-input" name="q" value="{{ search_query }}" placeholder="Поиск названию и описанию мероприятия">
                    <button type="submit" class="btn btn-primary mr-1">Поиск</button>
                    <a href="{% url 'trade_union' %}" class="btn btn-secondary">Очистить</a>
                </form>

                <table class="table table-bordered">
                    {% for event in trade_union_events %}
                        <div class="news-item">
                            <h3>
                                <a href="{% url 'trade_union_event' event.name %}">
                                    {{ event.name }}
                                </a>
                            </h3>
                            <p>
                                {{ event.description|safe|slice:":500" }}...
                                <a href="{% url 'trade_union_event' event.name %}">Читать дальше</a>
                            </p>
                            <p class="details">
                            <div class="details-content">
                                <span>Дата публикации: {{ event.created|date:"d.m.Y г. H:i" }}</span><br>
                                <span>Просмотров: {{ event.views_count }}</span><br>
                                <span>Фотографий: {{ photo_count }} шт.</span>
                            </div>
                            </p>
                        </div>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if trade_union_events.has_previous %}
                            <a href="?page={{ trade_union_events.previous_page_number }}" class="btn btn-outline-primary"><<</a>
                        {% endif %}
                        {% for page_num in trade_union_events.paginator.page_range %}
                            {% if page_num == trade_union_events.number %}
                                <strong class="btn btn-primary">{{ page_num }}</strong>
                            {% else %}
                                <a href="?page={{ page_num }}" class="btn btn-outline-primary">{{ page_num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if trade_union_events.has_next %}
                            <a href="?page={{ trade_union_events.next_page_number }}" class="btn btn-outline-primary">>></a>
                        {% endif %}
                    </span>
                </div>
                <p>Страница {{ trade_union_events.number }} из {{ trade_union_events.paginator.num_pages }}</p>
            {% else %}
                <h2 class="no-results">В настоящий момент нет опубликованных мероприятий</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
