{% extends 'base.html' %}

{% block title %}Чат: {{ room_name }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div class="alert alert-info d-flex justify-content-between">
                        <h5>Чат: {{ room_name }}</h5>
                        <p class="created_date">Дата создания: {{ created_date|date:"d.m.Y" }}</p>
                    </div>
                    <form>
                        {% if messages %}
                            <div class="chatbox" id="chatbox">
                                {% for message in messages %}
                                    <img class="chat-photo" src="{{ message.user.photo.url }}" alt="User Photo">
                                    <b>{{ message.user.fio }}</b>: {{ message.content }}<br>
                                    <p style="font-size: 10px">{{ message.created|date:"Y.m.d H:i" }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="jumbotron" id="chatbox" style="padding: 4px 2px;"></div>
                            <b>В этом чате нет сообщений</b>
                        {% endif %}
                        <div class="form-group" style="width: 100%;">
                            <input class="form-control" placeholder="Введите текст здесь" id="my_input" type="text" required>
                        </div>
                        <br/>
                        <input class="btn btn-primary btn-lg btn-block" id="submit_button" type="button" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
        <a href="{% url 'rooms' %}" class="btn btn-secondary">Назад</a>
    </div>

    {{ slug|json_script:"room_slug" }}

    <script>
        const chatbox = document.querySelector("#chatbox");

        function scrollToBottom() {
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        scrollToBottom();

        const roomName = JSON.parse(document.getElementById('room_slug').textContent) || "default_room";
        const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/" + roomName + "/");

        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully!");
        };

        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened!");
        };

        document.querySelector("#my_input").focus();
        document.querySelector("#my_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                document.querySelector("#submit_button").click();
            }
        };
        document.querySelector("#submit_button").onclick = function (e) {
            const messageInput = document.querySelector("#my_input").value;

            if (messageInput.length === 0) {
                alert("Add some Input First Or Press Send Button!")
            } else {
                chatSocket.send(JSON.stringify({
                    message: messageInput, 
                    username: "{{ request.user.username }}", 
                    room_name: "{{ room_name }}"
                }));
            }
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const div = document.createElement("div");

            div.innerHTML = `
                <img class="chat-photo" src="${data.photo}" alt="User Photo">
                <b style="color: ${data.fio === "{{ request.user.fio }}" ? 'blue' : 'black'}">${data.fio}</b> : ${data.message}
                <p style="font-size: 10px">${data.created}</p>
            `;

            div.classList.add("chat-message", data.fio === "{{ request.user.fio }}" ? "text-right" : "text-left");

            document.querySelector("#my_input").value = "";
            document.querySelector("#chatbox").appendChild(div);
            scrollToBottom();
        };
    </script>
{% endblock %}
