{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav>
    <h2>{{ config.name }}</h2>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'news_list' %}">Список новостей</a></li>
        <li><a href="{% url 'user_list' %}">Список сотрудников</a></li>
        <li><a href="{% url 'subdivision_list' %}">Список подразделений</a></li>
        
        <li><a href="{% url 'project_list' %}">Список проектов</a></li>
        <li><a href="#">Проверка знаний</a></li>
        <li><a href="#">Личный кабинет</a></li>
        <li><a href="#">Чат</a></li>
        <li><a href="#">Органайзер</a></li>
        <li><a href="#">Войти</a></li>
    </ul>
</nav>

<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
