{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav>
    <h2>{{ config.name }}</h2>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'news_list' %}">Новости</a></li>
        <li><a href="{% url 'user_list' %}">Сотрудники</a></li>
        <li><a href="{% url 'subdivision_list' %}">Подразделения</a></li>
        <li><a href="{% url 'project_list' %}">Проекты</a></li>

        {% if user.is_authenticated %}
            <li><a href="#">Проверка знаний</a></li>
            <li><a href="#">Органайзер</a></li>
            <li><a href="#">Чат</a></li>


            <li><a href="#">Личный кабинет</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
        {% endif %}

    </ul>
</nav>

<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
