{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav>
    <div class="logo-container">
        <h2>
            <img class="logo" src="{{ config.logo.url }}" alt="Логотип">{{ config.name }}
        </h2>
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'news_list' %}">Новости</a></li>
        <li><a href="{% url 'user_list' %}">Сотрудники</a></li>
        <li><a href="{% url 'subdivision_list' %}">Подразделения</a></li>
        <li><a href="{% url 'project_list' %}">Проекты</a></li>
        <li><a href="{% url 'book_list' %}">Книги</a></li>
        <li><a href="{% url 'trade_union' %}">Профсоюз</a></li>
    
        {% if user.is_authenticated %}
        <li><a href="{% url 'rooms' %}">Чаты</a></li>
            
            <li><a href="#"># Проверка знаний</a></li>
            <li><a href="#"># Органайзер</a></li>
            
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mr-1">Выйти</button>
                </form>
            </li>
        {% else %}
            <li><a class="btn btn-primary mr-1" href="{% url 'login' %}">Войти</a></li>
        {% endif %}
    </ul>
</nav>

<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
