{% extends 'base.html' %}

{% block content %}
    <h2>Чат с 
        {% if chat.user_to == request.user %}
            {{ chat.user_from }}
        {% else %}
            {{ chat.user_to }}
        {% endif %}
    </h2>
    <div>
        <h3>Сообщения:</h3>
        <ul>
            {% for message in messages %}
                <li><strong>{{ message.sender }}</strong>: {{ message.content }}</li>
            {% endfor %}
        </ul>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить сообщение</button>
    </form>
{% endblock %}
