{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>Приветствуем вас {{ user.fio }}!</h1>
            <p>Добро пожаловать в корпоративную систему управления. Эта платформа создана для удобного и эффективного управления рабочими процессами</p>
            <p>Здесь вы можете:</p>
            <ul>
                <li>Просматривать информацию о сотрудниках компании.</li>
                <li>Следить за актуальными проектами, их статусом и вовлеченными командами.</li>
                <li>Управлять отделами и структурой компании.</li>
                <li>Ознакомиться с последними новостями и обновлениями компании.</li>
                <li>Настраивать систему в соответствии с вашими потребностями.</li>
            </ul>

            <h2>Описание проекта</h2>
            <p>Ваш проект представляет собой информационную систему для сотрудников и управления. На основе меню можно выделить следующие ключевые функции и цели системы:</p>
            <ul>
                <li><strong>Главная</strong>: Стартовая страница системы, предоставляющая общий обзор и доступ к основным разделам. Возможно, на этой странице отображаются важные новости, быстрые ссылки и уведомления для сотрудников.</li>
                <li><strong>Сотрудники</strong>: Этот раздел представляет собой базу данных сотрудников, где содержатся их биографические данные, фотографии, должности, контакты и другая информация. Система может включать фильтры и поиск по отделам,
                    ролям или другим критериям.
                </li>
                <li><strong>Проекты</strong>: Раздел для управления проектами, где сотрудники могут просматривать, создавать и участвовать в проектах. Возможно, включены функции отслеживания статусов проектов, задач и сроков выполнения.</li>
                <li><strong>Отделы</strong>: Структурированное представление подразделений организации. Здесь сотрудники могут видеть, к каким отделам они относятся, а также информацию о руководстве и составе отдела.</li>
                <li><strong>Новости</strong>: Информационный раздел, где публикуются важные новости организации, внутренние объявления, достижения сотрудников или события, касающиеся компании.</li>
                <li><strong>Проверка знаний</strong>: Раздел для проведения тестов или опросов среди сотрудников. Он может использоваться для регулярных проверок квалификации или повышения уровня знаний.</li>
                <li><strong>Личный кабинет</strong>: Персонализированная страница каждого сотрудника с его данными, доступом к настройкам учетной записи, планированию задач и отчетам о времени.</li>
                <li><strong>Чат</strong>: Встроенная система общения для сотрудников, где они могут обмениваться сообщениями, делиться файлами или координировать действия по проектам.</li>
                <li><strong>Органайзер</strong>: Личный или коллективный планировщик, где сотрудники могут создавать задачи, мероприятия или встречи, а также следить за расписанием.</li>
                <li><strong>Войти</strong>: Страница аутентификации для входа в систему, предоставляющая доступ к закрытым разделам системы для сотрудников организации.</li>
            </ul>
        </div>
    </div>
{% endblock %}
