<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Access</title>
    <style>
        video {
            width: 50%;
            height: 50%;
        }
    </style>
</head>
<body>
<video id="video" autoplay></video>

<script>
    // Эта функция будет вызвана, как только страница загрузится.
    function startCamera() {
        const video = document.getElementById('video');

        // Cпроверьте, поддерживает ли браузер getUserMedia
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Запросить камеру
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function (stream) {
                    // Если пользователь дает разрешение, отобразите видеопоток в элементе видео.
                    video.srcObject = stream;
                })
                .catch(function (error) {
                    console.error("Ошибка доступа к камере: ", error);
                });
        } else {
            console.error("getUserMedia не поддерживается в этом браузере.");
        }
    }

    // Запустите камеру, когда страница загрузится
    window.onload = startCamera;
</script>
</body>
</html>
