{% extends 'base.html' %}

{% block title %}Информация о подразделениях{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <form method="get" action="{% url 'subdivision_list' %}" class="d-flex align-items-center">
                <h1>Список подразделений</h1>
                <input type="text" class="form-control mr-1 search-input" name="q" value="{{ search_query }}" placeholder="Поиск по названию подразделения и описанию">
                <button type="submit" class="btn btn-primary mr-1">Поиск</button>
                <a href="{% url 'subdivision_list' %}" class="btn btn-secondary">Очистить</a>
            </form>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="subdivision-name">Название подразделения</th>
                    <th class="subdivision-description">Описание подразделения</th>
                    <th class="subdivision-number">Количество сотрудников</th>
                </tr>
                </thead>
                <tbody>
                {% for subdivision in subdivisions %}
                    <tr>
                        <td class="subdivision-name">{{ subdivision.name }}</td>
                        <td class="subdivision-description text-left">
                            <span id="bio-short">{{ subdivision.description|slice:":500" }}{% if subdivision.description|length > 500 %}...{% endif %}</span>
                            <span id="bio-full" style="display: none;">{{ subdivision.description }}</span>
                            {% if subdivision.description|length > 500 %}
                                <a href="javascript:void(0)" id="toggle-bio" onclick="toggleBio()">Развернуть</a>
                            {% endif %}
                        </td>
                        <td class="subdivision-number">{{ subdivision.employee_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
