{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
    <div class="header-search">
        <div class="info">Список пользователей</div>
        <form method="get" action="{% url 'user_list' %}" class="d-flex align-items-center">
            <input type="text" class="form-control mr-2 search-input" name="q" value="{{ search_query }}" placeholder="Поиск по ФИО, должности, телефону, почте, адресу">
            <button type="submit" class="btn btn-primary mr-2">Поиск</button>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">Очистить</a>
        </form>
    </div>
    <table>
        <tr>
            <th>Подразделение/Должность</th>
            <th>ФИО</th>
            <th>Почта</th>
            <th>Телефон <br> (мобильный/рабочий)</th>
            <th>Адрес рабочего места</th>
            <th>Дата рождения</th>
            <th>Статус <br> нахождения</th>
        </tr>
        <tbody>
        {% for subdivision, positions in grouped_users.items %}
            <tr>
                <td colspan="7">
                    <details>
                        <summary>{{ subdivision.name }}</summary>
                        <table class="subdivision-table">
                            {% for position, users in positions.items %}
                                {% for user in users %}
                                    <tr>
                                        <td>{{ position.name }}</td>
                                        <td>
                                            <div class="photo-fio">
                                                {% if user.photo %}
                                                    <img src="{{ user.photo.url }}" alt="Фото {{ user.username }}">
                                                {% else %}
                                                    Нет фото
                                                {% endif %}
                                                <span><a href="{% url 'user_info' user.slug %}">{{ user.fio }}</a></span>
                                            </div>
                                        </td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.phone_mobile %}Мобильный: {{ user.phone_mobile }}{% endif %}<br>
                                            {% if user.phone_working %}Рабочий: {{ user.phone_working }}{% endif %}
                                        </td>
                                        <td>
                                            {% if user.address %}{{ user.address }}{% endif %} <br>
                                            {% if user.floor or user.office %}
                                                {% if user.floor %}этаж {{ user.floor }}{% if user.office %}, {% endif %}{% endif %}
                                                {% if user.office %}кабинет {{ user.office }}{% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.birthday|date:"d.m.Y" %}{{ user.birthday|date:"d.m.Y" }} г.{% endif %}
                                        </td>
                                        <td>
                                            {% if user.latest_status %}
                                                {% if user.latest_status == 1 %}
                                                    На работе с
                                                {% else %}
                                                    Отсутствует с
                                                {% endif %}
                                                {{ user.latest_created|date:"H:i" }} <br>
                                                {{ user.address.name }}
                                            {% else %}
                                                Нет данных
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </details>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
