{% extends 'base.html' %}

{% block title %}Информация о пользователе{% endblock %}

{% block content %}

    <div class="user-info">
        <div class="photo-fio">
            {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="Фото {{ user.username }}">
            {% else %}
                Нет фото
            {% endif %}
        </div>
        <p>{% if user.subdivision.name %}Подразделение: {{ user.subdivision.name }}{% endif %}</p>
        <p>{% if user.position.name %}Должность: {{ user.position.name }}{% endif %}</p>
        <p>ФИО: {{ user.fio }}</p>
        <p>Дата рождения: {{ user.birthday|date:"d.m.Y" }} г.</p>
        <p>{% if user.email %}Почта: {{ user.email }}{% endif %}</p>
        <p>{% if user.phone_mobile %}Мобильный телефон: {{ user.phone_mobile }}{% else %}{% endif %}</p>
        <p>{% if user.phone_working %}Рабочий телефон: {{ user.phone_working }}{% else %}{% endif %}</p>
        <p>{% if user.address.name %}Адрес рабочего места: {{ user.address.name }}{% else %}{% endif %}</p>
        <p>{% if user.note.name %}Заметка: {{ user.note.name }}{% endif %}</p>
        <p>{% if user.biography %}Биография: {{ user.biography }}{% endif %}</p>
        <p>Отработанное время за текущий день: {{ daily_time }}</p>
        <p>Отработанное время за текущий месяц: {{ monthly_time }}</p>
        <p>Отработанное время за текущий год: {{ yearly_time }}</p>
    </div>

{% endblock %}
