{% extends 'base.html' %}
{% load static %}

{% block title %}Информация о сотруднике{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>Информация о сотруднике</h1>
            <div class="photo-user">
                {% if user.photo %}
                    <img src="{{ user.photo.url }}">
                {% else %}
                    Нет фото
                {% endif %}
                <div class="user-details">
                    <p><strong>ФИО: </strong>
                        {% if user.fio %}
                            {{ user.fio }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                    <p><strong>Подразделение: </strong>
                        {% if user.subdivision.name %}
                            {{ user.subdivision.name }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                    <p><strong>Должность: </strong>
                        {% if user.position.name %}
                            {{ user.position.name }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                    <p><strong>Почта: </strong>
                        {% if user.email %}
                            {{ user.email }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                    <p><strong>Мобильный телефон: </strong>
                        {% if user.phone_mobile %}
                            {{ user.phone_mobile }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                    <p><strong>Рабочий телефон: </strong>
                        {% if user.phone_working %}
                            {{ user.phone_working }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                    <p><strong>Адрес рабочего места: </strong>
                        {% if user.address.name %}
                            {{ user.address.name }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                        {% if user.office.name %}(Кабинет {{ user.office.name }}){% endif %}
                    </p>
                    <p><strong>Заметка: </strong>
                        {% if user.note.name %}
                            {{ user.note.name }}
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                    <p><strong>Дата рождения: </strong>
                        {% if user.birthday %}
                            {{ user.birthday|date:"d.m.Y" }} г.
                        {% else %}
                            <span class="text-danger">Информация не заполнена</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="user-bio">
                <p><strong>Биография: </strong>
                    {% if user.biography %}
                        <span id="bio-short">{{ user.biography|slice:":1000" }}{% if user.biography|length > 1000 %}...{% endif %}</span>
                        <span id="bio-full" style="display: none;">{{ user.biography }}</span>
                        {% if user.biography|length > 1000 %}
                            <a href="javascript:void(0)" id="toggle-bio" onclick="toggleBio()">Развернуть</a>
                        {% endif %}
                    {% else %}
                        <span class="text-danger">Информация не заполнена</span>
                    {% endif %}
                </p>
                <a href="{% url 'user_edit' user.slug %}" class="btn btn-warning btn-sm">Редактировать данные</a>
            </div>
        </div>
        <div class="card">
            <div class="user-bio">
                <h1>Контроль рабочего времени</h1>
                <p><strong>Отработанное время за текущий день: </strong>{{ daily_time }}</p>
                <p><strong>Отработанное время за текущий месяц: </strong>{{ monthly_time }}</p>
                <p><strong>Отработанное время за текущий год: </strong>{{ yearly_time }}</p>
                <a href="{% url 'user_time' user.slug %}" class="btn btn-warning btn-sm">Подробней</a>
            </div>
        </div>


        <div class="card">
            <div class="user-bio">
                <h1>Участие в проектах</h1>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="project-name">Название проекта</th>
                        <th class="project-owner">Владелец проекта</th>
                        <th class="project-description">Описание проекта</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td class="project-name">{{ project.name }}</td>
                            <td class="project-name">{{ project.owner }}</td>
                            <td class="project-name text-left">{{ project.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <a href="{% url 'user_list' %}" class="btn btn-secondary">Назад</a>
    </div>
    <script src="{% static 'js/roll.js' %}"></script>
{% endblock %}
